[user]
	email = hanne.haugland@bekk.no
	name = Hanne Sofie Haugland
	username = hannehaugland
[alias]
	s = status
	cp = cherry-pick	
	wip = add . && git commit -m "wip" --no-verify
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
[color]
	ui = true 
[push]
	autoSetupRemote = true 
[merge]
	tool = vscode

[includeIf "gitdir:~/bekk/"]
  path = ~/bekk/.gitconfig